---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TyJBJB3ywt9Oh9ELYgZg52C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TyJBJB3ywt9Oh9ELYgZg52C",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": "Herndon",
              "country": "US",
              "line1": "10 Lovely Street",
              "line2": "Northwest",
              "postal_code": "10001",
              "state": "AL"
            },
            "email": "email1@example.com",
            "name": "John Von Doe",
            "phone": null,
            "tax_id": null
          },
          "created": 1785276541,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "sepa_debit": {
            "bank_code": "37040044",
            "branch_code": "",
            "country": "DE",
            "fingerprint": "tp3407DXda8RWS2z",
            "generated_from": {
              "charge": null,
              "setup_attempt": null
            },
            "last4": "3000"
          },
          "shared_payment_granted_token": null,
          "type": "sepa_debit"
        }
  recorded_at: Tue, 28 Jul 2026 22:09:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=email1%40example.com&name=email1%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d93cdb56-24d3-49c1-98e5-c02be2af2520
      Original-Request:
      - req_bbQ3Sn758ht2zt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UyFgknpWqgWFkZ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1785276542,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "email1@example.com",
          "invoice_prefix": "I3NUY5XW",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "email1@example.com",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 28 Jul 2026 22:09:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=EUR&capture_method=automatic&setup_future_usage=off_session&customer=cus_UyFgknpWqgWFkZ&payment_method=pm_1TyJBJB3ywt9Oh9ELYgZg52C&payment_method_types[0]=sepa_debit&metadata[solidus_order_number]=R065846195
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - efa4e6be-f02c-471a-a5bd-493b11a2c130
      Original-Request:
      - req_XZue0XPn1vkmMe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TyJBKB3ywt9Oh9E1ssgFpMR",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TyJBKB3ywt9Oh9E1ssgFpMR_secret_xadCeY74D6KtyjpzpPkhYH4kz",
          "confirmation_method": "automatic",
          "created": 1785276542,
          "currency": "eur",
          "customer": "cus_UyFgknpWqgWFkZ",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "solidus_order_number": "R065846195"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TyJBJB3ywt9Oh9ELYgZg52C",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "sepa_debit": {}
          },
          "payment_method_types": [
            "sepa_debit"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 28 Jul 2026 22:09:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3TyJBKB3ywt9Oh9E1ssgFpMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: [...]
[...]
