---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TyJL0B3ywt9Oh9ESst5ATUG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TyJL0B3ywt9Oh9ESst5ATUG",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": "10009",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "unchecked",
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2027,
            "fingerprint": "h0UcWLOq7DmorsH4",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1785277142,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "radar_options": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Tue, 28 Jul 2026 22:19:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=email4%40example.com&name=email4%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f82461f4-af9d-4bd5-a653-7c1be7e0dc1d
      Original-Request:
      - req_MF4L1SvxHtBntv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UyFqSaa2U0po1b",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1785277142,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "email4@example.com",
          "invoice_prefix": "LCQM5ZUG",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "email4@example.com",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 28 Jul 2026 22:19:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2000&currency=USD&capture_method=manual&customer=cus_UyFqSaa2U0po1b&payment_method=pm_1TyJL0B3ywt9Oh9ESst5ATUG&payment_method_types[0]=card&metadata[solidus_order_number]=R856993392
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc3f2f98-b519-4408-921a-58548178a843
      Original-Request:
      - req_zRypznr6qUmpHY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TyJL0B3ywt9Oh9E1mwzN8d0",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 2000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3TyJL0B3ywt9Oh9E1mwzN8d0_secret_rM7IaftEKa4AwU1njs8TlWpbL",
          "confirmation_method": "automatic",
          "created": 1785277142,
          "currency": "usd",
          "customer": "cus_UyFqSaa2U0po1b",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "solidus_order_number": "R856993392"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TyJL0B3ywt9Oh9ESst5ATUG",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 28 Jul 2026 22:19:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3TyJL0B3ywt9Oh9E1mwzN8d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TyJL0B3ywt9Oh9E1mwzN8d0/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 672d67fa-957e-4c1a-a682-f0d7e4de732e
      Original-[...]
[...]
