---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=15000&capture_method=manual&confirm=true&currency=usd&payment_method=pm_card_visa&payment_method_types[0]=card
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8e3ae977-03b7-4e48-96c7-dcebd322a69b
      Original-Request:
      - req_9s5CtosZR7bX4G
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Tz3UMB3ywt9Oh9E03oZdB8u",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 15000,
          "amount_capturable": 15000,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3Tz3UMB3ywt9Oh9E03oZdB8u_secret_gusWfC67d9dqTEZxQDLwxfSFL",
          "confirmation_method": "automatic",
          "created": 1785454546,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": "ch_3Tz3UMB3ywt9Oh9E0R2DpFyT",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Tz3UMB3ywt9Oh9EOH4fx8Ux",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 30 Jul 2026 23:35:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tz3UMB3ywt9Oh9E03oZdB8u/capture
    body:
      encoding: UTF-8
      string: amount=15000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc3ea569-f5e1-4b18-80da-790e47fda8ae
      Original[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tz3UMB3ywt9Oh9E03oZdB8u/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4ed7a228-ab99-4125-81f4-70b15c35bc73
      Original-Request:
      - req_vqbybf4qg6gVDz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "payment_intent_unexpected_state",
            "doc_url": "https://stripe.com/docs/error-codes/payment-intent-unexpected-state",
            "message": "You cannot cancel this PaymentIntent because it has a status of succeeded. Only a PaymentIntent with one of the following statuses may be canceled: requires_payment_method, requires_capture, requires_reauthorization, requires_confirmation, requires_action, expired, processing.",
            "payment_intent": {
              "id": "pi_3Tz3UMB3ywt9Oh9E03oZdB8u",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 15000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 15000,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: amount=15000&payment_intent=pi_3Tz3UMB3ywt9Oh9E03oZdB8u&metadata[solidus_skip_sync]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 74af294b-5679-448a-b052-b66f8c28d3f1
      Original-Request:
      - req_uxVQsJFnNJ79Mf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3Tz3UMB3ywt9Oh9E03zp8St2",
          "object": "refund",
          "amount": 15000,
          "balance_transaction": "txn_3Tz3UMB3ywt9Oh9E0WnGBde3",
          "charge": "ch_3Tz3UMB3ywt9Oh9E0R2DpFyT",
          "created": 1785454550,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {
            "solidus_skip_sync": "true"
          },
          "payment_intent": "pi_3Tz3UMB3ywt9Oh9E03oZdB8u",
          "payment_method": "pm_1Tz3UMB3ywt9Oh9EOH4fx8Ux",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 30 Jul 2026 23:35:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?payment_intent=pi_3Tz3UMB3ywt9Oh9E03oZdB8u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 1,
          "data": [
            {
              "id": "re_3Tz3UMB3ywt9Oh9E03zp8St2",
              "object": "refund",
              "amount": 15000,
              "balance_transaction": "txn_3Tz3UMB3ywt9Oh9E0WnGBde3",
              "charge": "ch_3Tz3UMB3ywt9Oh9E0R2DpFyT",
              "created": 1785454550,
              "currency": "usd",
              "customer": null,
              "customer_account": null,
              "destination_details": {
                "card": {
                  "reference": "7703932321853683",
                  "reference_status": "available",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {
                "solidus_skip_sync": "true"
              },
              "payment_intent": "pi_3Tz3UMB3ywt9Oh9E03oZdB8u",
              "payment_method": "pm_1Tz3UMB3ywt9Oh9EOH4fx8Ux",
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            }
          ],
          "has_more": false,
          "url": "/v1/refunds"
        }
  recorded_at: Thu, 30 Jul 2026 23:35:51 GMT
recorded_with: VCR 6.4.0
