---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=15000&capture_method=manual&confirm=true&currency=usd&payment_method=pm_card_visa&payment_method_types[0]=card
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5169f31-6330-42cf-98d3-8830af1d9a6a
      Original-Request:
      - req_vdHzdLVT6RwBZC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Tz3URB3ywt9Oh9E0Lv3dpOc",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 15000,
          "amount_capturable": 15000,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3Tz3URB3ywt9Oh9E0Lv3dpOc_secret_Q94xHiCaqUmkWm78bCTQpFj4Y",
          "confirmation_method": "automatic",
          "created": 1785454551,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": "ch_3Tz3URB3ywt9Oh9E0KLCzYM9",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Tz3URB3ywt9Oh9EmquJAfnF",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 30 Jul 2026 23:35:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tz3URB3ywt9Oh9E0Lv3dpOc/capture
    body:
      encoding: UTF-8
      string: amount=15000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7a2a9323-28a6-4256-a022-e3331d19faff
      Original[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: amount=2500&payment_intent=pi_3Tz3URB3ywt9Oh9E0Lv3dpOc&metadata[solidus_skip_sync]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5c2ce1d5-ca82-47bf-819f-8729b7dc32df
      Original-Request:
      - req_D8BvwdSrcAp4YY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3Tz3URB3ywt9Oh9E0gF72rjB",
          "object": "refund",
          "amount": 2500,
          "balance_transaction": "txn_3Tz3URB3ywt9Oh9E0oQhLKce",
          "charge": "ch_3Tz3URB3ywt9Oh9E0KLCzYM9",
          "created": 1785454553,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {
            "solidus_skip_sync": "true"
          },
          "payment_intent": "pi_3Tz3URB3ywt9Oh9E0Lv3dpOc",
          "payment_method": "pm_1Tz3URB3ywt9Oh9EmquJAfnF",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 30 Jul 2026 23:35:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?payment_intent=pi_3Tz3URB3ywt9Oh9E0Lv3dpOc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 1,
          "data": [
            {
              "id": "re_3Tz3URB3ywt9Oh9E0gF72rjB",
              "object": "refund",
              "amount": 2500,
              "balance_transaction": "txn_3Tz3URB3ywt9Oh9E0oQhLKce",
              "charge": "ch_3Tz3URB3ywt9Oh9E0KLCzYM9",
              "created": 1785454553,
              "currency": "usd",
              "customer": null,
              "customer_account": null,
              "destination_details": {
                "card": {
                  "reference_status": "pending",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {
                "solidus_skip_sync": "true"
              },
              "payment_intent": "pi_3Tz3URB3ywt9Oh9E0Lv3dpOc",
              "payment_method": "pm_1Tz3URB3ywt9Oh9EmquJAfnF",
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            }
          ],
          "has_more": false,
          "url": "/v1/refunds"
        }
  recorded_at: Thu, 30 Jul 2026 23:35:54 GMT
recorded_with: VCR 6.4.0
