---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=15000&capture_method=manual&confirm=true&currency=usd&payment_method=pm_card_visa&payment_method_types[0]=card
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3f6b8520-ef58-4409-9563-f06fe9baa0a6
      Original-Request:
      - req_nqg7FP8TrUSJH5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Tz3UGB3ywt9Oh9E0noUULvs",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 15000,
          "amount_capturable": 15000,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3Tz3UGB3ywt9Oh9E0noUULvs_secret_E53ikg4sQu3ohGdMv9aLBMzz1",
          "confirmation_method": "automatic",
          "created": 1785454540,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": "ch_3Tz3UGB3ywt9Oh9E0wc7IuCo",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Tz3UGB3ywt9Oh9EZU8sCzJq",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 30 Jul 2026 23:35:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tz3UGB3ywt9Oh9E0noUULvs/capture
    body:
      encoding: UTF-8
      string: amount=15000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3a5bc563-49f1-4185-b9e5-69899de6faf6
      Original[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: amount=15000&payment_intent=pi_3Tz3UGB3ywt9Oh9E0noUULvs&metadata[solidus_skip_sync]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fa8b09b5-d750-4bf3-8ddc-8148003c113b
      Original-Request:
      - req_szYoY6qiRnc83q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3Tz3UGB3ywt9Oh9E01pF3Wz5",
          "object": "refund",
          "amount": 15000,
          "balance_transaction": "txn_3Tz3UGB3ywt9Oh9E0cIZXlMT",
          "charge": "ch_3Tz3UGB3ywt9Oh9E0wc7IuCo",
          "created": 1785454542,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {
            "solidus_skip_sync": "true"
          },
          "payment_intent": "pi_3Tz3UGB3ywt9Oh9E0noUULvs",
          "payment_method": "pm_1Tz3UGB3ywt9Oh9EZU8sCzJq",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 30 Jul 2026 23:35:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?payment_intent=pi_3Tz3UGB3ywt9Oh9E0noUULvs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 1,
          "data": [
            {
              "id": "re_3Tz3UGB3ywt9Oh9E01pF3Wz5",
              "object": "refund",
              "amount": 15000,
              "balance_transaction": "txn_3Tz3UGB3ywt9Oh9E0cIZXlMT",
              "charge": "ch_3Tz3UGB3ywt9Oh9E0wc7IuCo",
              "created": 1785454542,
              "currency": "usd",
              "customer": null,
              "customer_account": null,
              "destination_details": {
                "card": {
                  "reference": "9560506679201170",
                  "reference_status": "available",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {
                "solidus_skip_sync": "true"
              },
              "payment_intent": "pi_3Tz3UGB3ywt9Oh9E0noUULvs",
              "payment_method": "pm_1Tz3UGB3ywt9Oh9EZU8sCzJq",
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            }
          ],
          "has_more": false,
          "url": "/v1/refunds"
        }
  recorded_at: Thu, 30 Jul 2026 23:35:43 GMT
recorded_with: VCR 6.4.0
