---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=15000&capture_method=manual&confirm=true&currency=usd&payment_method=pm_card_visa&payment_method_types[0]=card
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3e6785fb-9357-41a8-b9af-4d482f96a117
      Original-Request:
      - req_Ob20tnPXkKnwLF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Tz3UJB3ywt9Oh9E0tY7kzn4",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 15000,
          "amount_capturable": 15000,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3Tz3UJB3ywt9Oh9E0tY7kzn4_secret_WsdhT04WPc86skVqQYwMASDpX",
          "confirmation_method": "automatic",
          "created": 1785454543,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": "ch_3Tz3UJB3ywt9Oh9E0kP66UyS",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Tz3UJB3ywt9Oh9E3Fmq5VC3",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 30 Jul 2026 23:35:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tz3UJB3ywt9Oh9E0tY7kzn4/capture
    body:
      encoding: UTF-8
      string: amount=14000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5194b2e-e85e-48e6-8182-faf16bb01647
      Original[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tz3UJB3ywt9Oh9E0tY7kzn4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: [...]
